# Modify this file and save it as config.cfg

[shsh2]
pathToBlob = /home/JohnDoe/Desktop/SHSH2/myblob.shsh2 #Full path to shsh2 file

[nonce]
debNeeded = False #Used to determine if nonceEnabler is needed to be downloaded and put on your device
runPatch = True #Used to determine if you need to run nvpatcher and set your generator in your nvram - this will almost always be true

[ssh]
iosIp = #192.168.0.1 (phone ip address) Preferences > Wi-Fi > (i) > IP Address
iosPassword = #alpine (default) ios ssh password for login
localPassword = password #ssh loopback password for login to 127.0.0.1

[POC]
showPOC = True #Used to show the boot nonce is correctly set and that on reboot the device has booted with specified nonce
